<h2>Animal Quarantine Airport Station</h2>

<h2>Sign In</h2>
<!-- Employee Login Authentication Form -->
<div class="container">
  <form>
    <!-- Username or Email Address -->
    <div class="form-group">
      <label for="user">Username or Email Address</label>
      <input type="text" class="form-control" id="user" required>
      <div class="alert alert-danger">    <!-- TODO: Implement error message if input has been left blank after submission -->
        This field is required
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="text" class="form-control" id="pass" required>
    </div>

    <!-- Check for Authentication -->
    <button type="submit" class="btn btn-success">Sign In</button>
  </form>
</div>
