<div class="container">
  <h2>Please sign-in by entering the following:</h2>
  <form>
    <!-- Last Name -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Doe" value="">
      </mat-form-field>
      </form>

    <!-- First Name -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="John" value="">
      </mat-form-field>
      </form>

    <!-- Phone Number -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number +1</mat-label>
        <input matInput placeholder="+1" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>(xxx)</mat-label>
        <input matInput placeholder="(xxx)" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>xxx</mat-label>
        <input matInput placeholder="xxx" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>-xxxx</mat-label>
        <input matInput placeholder="-xxxx" value="">
      </mat-form-field>
      </form>

    <!-- Email -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email address</mat-label>
        <input matInput placeholder="example@example.com" value="">
      </mat-form-field>
      </form>

    <!-- Pet Microchip-->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Microchip</mat-label>
        <input matInput placeholder="FDXA chip" value="">
      </mat-form-field>
    </form>
    <!-- Submit form -->
    <button type="submit" class="btn btn-success">Submit</button>

<router-outlet></router-outlet>

